In [52]:
import pandas as pd

In [53]:
df = pd.read_excel('./data_raw/age.xlsx')

In [54]:
colonnes_a_garder = ['ZONE','SEXE','TRAGE',  'POP_2022']
df = df[colonnes_a_garder]
df = df.rename(columns={'ZONE': 'code_departement'})

In [55]:
df

     code_departement  SEXE     TRAGE  POP_2022
0                 Ain     1     [0;5[     20050
1                 Ain     1    [5;10[     23780
2                 Ain     1   [10;15[     24700
3                 Ain     1   [15;20[     22340
4                 Ain     1   [20;25[     14150
...               ...   ...       ...       ...
4035         Yvelines     2   [75;80[     25000
4036         Yvelines     2   [80;85[     19860
4037         Yvelines     2   [85;90[     15120
4038         Yvelines     2   [90;95[      8260
4039         Yvelines     2  [95;99+]      3520

[4040 rows x 4 columns]

In [56]:
df_pivot = df.pivot(index=['code_departement', 'SEXE'], columns='TRAGE', values='POP_2022').reset_index()
df_pivot.columns.name = None
df = df_pivot
df_pivot

,code_departement,SEXE,[0;5[,[10;15[,[15;20[,[20;25[,[25;30[,[30;35[,[35;40[,[40;45[,...,[55;60[,[5;10[,[60;65[,[65;70[,[70;75[,[75;80[,[80;85[,[85;90[,[90;95[,[95;99+]
0,Ain,1,20050,24700,22340,14150,15040,20400,22840,22690,...,22370,23780,19520,16950,15450,10600,6700,4070,1750,440
1,Ain,2,18930,23220,20110,12310,15520,21560,23520,22810,...,22170,22110,20450,18740,17190,12300,8740,7030,4180,1910
2,Aisne,1,13640,18260,17720,13880,12380,14470,15490,15680,...,17510,16570,16990,15900,14760,8560,5480,3610,1460,290
3,Aisne,2,12990,17460,16020,12460,12560,14770,15990,15810,...,18090,15880,18010,17560,16480,10780,8130,7040,3870,1340
4,Allier,1,6830,9320,9410,8550,7280,7640,8380,8880,...,11430,8260,11460,11200,11340,7730,5360,3460,1560,380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vosges,2,7340,10220,9770,7200,7410,8990,9820,10130,...,13080,9030,13660,13390,13330,8340,6890,6010,3470,1170
198,Yonne,1,7890,10760,10240,7570,7030,8780,9270,9510,...,11250,9350,11200,11120,11150,6710,4520,3010,1200,320
199,Yonne,2,7770,10120,9040,5930,6860,8770,9550,9910,...,11590,8810,12020,12120,11860,7830,6220,5380,3200,1400
200,Yvelines,1,45680,54170,50570,40430,38120,42150,45850,48610,...,46260,52730,38260,30540,28790,20680,14150,8960,3710,1040
201,Yvelines,2,43510,50850,47830,37050,37660,44860,50050,51590,...,48290,49330,41620,36010,34080,25000,19860,15120,8260,3520

In [57]:
df.drop(columns=['SEXE'], inplace=True)

In [58]:
sortie = './donnees/age.csv'
df.to_csv(sortie, index=False)