In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('./donnees_brutes/age.xlsx')

In [8]:
colonnes_a_garder = ['ZONE','SEXE','TRAGE',  'POP_2022']
df_selectionne = df[colonnes_a_garder]
df_selectionne

          ZONE  SEXE     TRAGE  POP_2022
0          Ain     1     [0;5[     20050
1          Ain     1    [5;10[     23780
2          Ain     1   [10;15[     24700
3          Ain     1   [15;20[     22340
4          Ain     1   [20;25[     14150
...        ...   ...       ...       ...
4035  Yvelines     2   [75;80[     25000
4036  Yvelines     2   [80;85[     19860
4037  Yvelines     2   [85;90[     15120
4038  Yvelines     2   [90;95[      8260
4039  Yvelines     2  [95;99+]      3520

[4040 rows x 4 columns]

In [9]:
sortie = './donnees/age.csv'
df_selectionne.to_csv(sortie, index=False)