In [52]:
import pandas as pd

In [114]:
df = pd.read_csv('data/Taux de chomage par region.csv', sep=';')
df.head()

,Libellé,idBank,Dernière mise à jour,Période,1982-T1,1982-T2,1982-T3,1982-T4,1983-T1,1983-T2,...,2021-T2,2021-T3,2021-T4,2022-T1,2022-T2,2022-T3,2022-T4,2023-T1,2023-T2,2023-T3
0,Taux de chômage localisé par région - France m...,1515842.0,20/12/2023 12:00,NaN,6.7,6.8,7.0,7.0,7.0,7.0,...,7.7,7.7,7.3,7.2,7.2,7.0,7.0,6.9,7.0,7.2
1,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,SD
2,Taux de chômage localisé par région - Île-de-F...,1515843.0,20/12/2023 12:00,NaN,5.6,5.7,5.7,5.7,5.6,5.6,...,7.5,7.5,7.2,7.1,7.0,6.8,6.9,6.7,6.8,7.0
3,Codes,NaN,NaN,NaN,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,SD
4,Taux de chômage localisé par région - Centre-V...,1515847.0,20/12/2023 12:00,NaN,5.7,5.7,5.9,6.0,6.0,6.0,...,7.2,7.2,6.7,6.8,6.9,6.7,6.7,6.6,6.7,6.9

In [119]:
df[df.columns[~df.columns.isin(['Libellé', '1982-T2'])]]
df = df[df['Libellé'] != 'Codes']

#df2 = df[['Libellé', '2022-T1','2022-T2', '2022-T3', '2022-T4']]
df_mean = df[['Libellé', '2022-T1','2022-T2', '2022-T3', '2022-T4']]

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    df_mean.loc[:, -1] = df_mean.loc[:, '2022-T1'].astype(float)
    df_mean.loc[:, -2] = df_mean.loc[:, '2022-T2'].astype(float)
    df_mean.loc[:, -3] = df_mean.loc[:, '2022-T3'].astype(float)
    df_mean.loc[:, -4] = df_mean.loc[:, '2022-T4'].astype(float)

df_mean['2022'] = df_mean.mean(axis=1)

df_mean= df_mean[['Libellé', '2022']]
df_mean = df_mean[~df_mean['Libellé'].str.contains('région')]
df_mean['Libellé'] = df_mean['Libellé'].str.replace('Taux de chômage localisé par département - ', '')

df_mean

/var/folders/v_/3cj7kynd4qz_v_bl352xzs_80000gn/T/ipykernel_3657/67739392.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mean.loc[:, -1] = df_mean.loc[:, '2022-T1'].astype(float)
/var/folders/v_/3cj7kynd4qz_v_bl352xzs_80000gn/T/ipykernel_3657/67739392.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mean.loc[:, -2] = df_mean.loc[:, '2022-T2'].astype(float)
/var/folders/v_/3cj7kynd4qz_v_bl352xzs_80000gn/T/ipykernel_3657/67739392.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mean.loc[:, -3] = df_mean.loc[:, '2022-T3'].astype(float)
/var/folders/v_/3cj7kynd4qz_v_bl352xzs_80000gn/T/ipykernel_3657/67739392.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mean.loc[:, -4] = df_mean.loc[:, '2022-T4'].astype(float)
/var/folders/v_/3cj7kynd4qz_v_bl352xzs_80000gn/T/ipykernel_3657/67739392.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_mean['2022'] = df_mean.mean(axis=1)
/var/folders/v_/3cj7kynd4qz_v_bl352xzs_80000gn/T/ipykernel_3657/67739392.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mean['2022'] = df_mean.mean(axis=1)

                     Libellé    2022
30                   Aveyron   5.675
32                       Ain   5.450
34                     Aisne  10.375
36                    Allier   7.625
38   Alpes-de-Haute-Provence   8.225
..                       ...     ...
220                      Var   7.375
222               Guadeloupe  18.550
224               Martinique  12.400
226                   Guyane  13.325
228               La Réunion  18.025

[100 rows x 2 columns]