In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('./data_raw/base-des-lieux-et-des-equipements-culturels.csv', sep=';', low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73234 entries, 0 to 73233
Data columns (total 47 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   source                                   73203 non-null  object
 1   nom                                      73234 non-null  object
 2   adresse                                  41249 non-null  object
 3   complement_adresse                       335 non-null    object
 4   code_postal                              72294 non-null  float64
 5   libelle_geographique                     73131 non-null  object
 6   code_insee                               73233 non-null  object
 7   code_insee_arrondt                       73068 non-null  object
 8   identifiant_origine                      67285 non-null  object
 9   type_equipement_ou_lieu                  73234 non-null  object
 10  label_et_appellation                     53885 non-null  object
 11  region                                   73162 non-null  object
 12  domaine                                  73234 non-null  object
 13  sous_domaines                            51561 non-null  object
 14  archeologie_detail                       562 non-null    object
 15  adresse_postale                          72206 non-null  object
 16  departement                              73234 non-null  object
 17  precision_equipement                     64702 non-null  object
 18  n_departement                            73234 non-null  object
 19  n_region                                 73234 non-null  int64
 20  fonction_1                               73227 non-null  object
 21  fonction_2                               19687 non-null  object
 22  fonction_3                               22 non-null     object
 23  fonction_4                               22 non-null     object
 24  multiplexe                               2116 non-null   object
 25  type_de_cinema                           2140 non-null   object
 26  nombre_fauteuils_de_cinema               2140 non-null   float64
 27  nombre_ecrans                            2140 non-null   float64
 28  nombre_de_salles_de_theatre              1040 non-null   float64
 29  organisme_siege_du_theatre               264 non-null    object
 30  jauge_du_theatre                         981 non-null    float64
 31  code_du_reseau_de_bibliotheques          15540 non-null  object
 32  nom_du_reseau_de_bibliotheques           15529 non-null  object
 33  nom_de_l_illustre                        245 non-null    object
 34  surface_bibliotheque                     14223 non-null  object
 35  coordonnees_gps_lat_lon                  73218 non-null  object
 36  rang                                     73234 non-null  int64
 37  ident                                    73234 non-null  object
 38  identifiant_deps_a_partir_de_2022        73234 non-null  object
 39  libelle_epci                             73147 non-null  object
 40  code_insee_epci                          73117 non-null  object
 41  demographie_sortie                       429 non-null    object
 42  demographie_detail                       86 non-null     object
 43  identifiant_deps_old                     69582 non-null  object
 44  precision_protection_sites_et_monuments  284 non-null    object
 45  annee_label_appellation                  2771 non-null   float64
 46  demographie_entree_sortie                73234 non-null  object
dtypes: float64(6), int64(2), object(39)
memory usage: 26.3+ MB

In [33]:
colonnes_a_garder = ['n_departement', 'type_equipement_ou_lieu','fonction_1']
df_selectionne = df[colonnes_a_garder]
df_selectionne

      n_departement type_equipement_ou_lieu    fonction_1
0                69                Monument  Préservation
1                69                Monument  Préservation
2                69                Monument  Préservation
3                69                Monument  Préservation
4                69                Monument  Préservation
...             ...                     ...           ...
73229            44                  Cinéma     Diffusion
73230            44                  Cinéma     Diffusion
73231            44                  Cinéma     Diffusion
73232            44                  Cinéma     Diffusion
73233            44                  Cinéma     Diffusion

[73234 rows x 3 columns]

In [34]:
result = df.groupby(['n_departement', 'type_equipement_ou_lieu', 'fonction_1']).size().reset_index(name='nombre')
result

     n_departement type_equipement_ou_lieu              fonction_1  nombre
0               01            Bibliothèque               Diffusion     240
1               01         Centre culturel            Préservation       1
2               01                  Cinéma               Diffusion      21
3               01           Conservatoire  Education et formation       5
4               01          Espace protégé            Préservation       5
...            ...                     ...                     ...     ...
1666            99         Lieu de mémoire            Préservation       6
1667            99                Monument            Préservation      21
1668            99                   Musée            Préservation      15
1669            99      Service d'archives            Préservation       7
1670            99                 Théâtre               Diffusion       3

[1671 rows x 4 columns]

In [35]:
result.drop(columns=['type_equipement_ou_lieu'], inplace=True)

In [36]:
# df_pivot = result.pivot(index=['n_departement'], columns='fonction_1', values='nombre').reset_index()
# df_pivot.columns.name = None
# result = df_pivot
# result

In [48]:


culture_df = result.groupby(['n_departement'])['nombre'].sum().reset_index()
culture_df = culture_df.rename(columns={'n_departement': 'code_departement'})

culture_df

    code_departement  nombre
0                 01     708
1                 02     828
2                 03     836
3                 04     363
4                 05     336
..               ...     ...
99               972     189
100              973     123
101              974     330
102              976      21
103               99      84

[104 rows x 2 columns]

In [44]:
population_df = pd.read_csv("./donnees/population_departement.csv")

In [49]:
result_merged = pd.merge(culture_df, population_df, on='code_departement', how='left')
result_merged

    code_departement  nombre          nom_departement  total_population
0                 01     708                      Ain          671937.0
1                 02     828                    Aisne          522791.0
2                 03     836                   Allier          332443.0
3                 04     363  Alpes-de-Haute-Provence          166654.0
4                 05     336             Hautes-Alpes          139942.0
..               ...     ...                      ...               ...
99               972     189                      NaN               NaN
100              973     123                      NaN               NaN
101              974     330                      NaN               NaN
102              976      21                      NaN               NaN
103               99      84                      NaN               NaN

[104 rows x 4 columns]

In [55]:
result_merged['culture/1000POP'] = result_merged['nombre'] / result_merged['total_population'] * 1000


colonnes_a_garder = ['code_departement','culture/1000POP']
result_merged = result_merged[colonnes_a_garder]

    code_departement  culture/1000POP
0                 01         1.053670
1                 02         1.583807
2                 03         2.514717
3                 04         2.178166
4                 05         2.400995
..               ...              ...
99               972              NaN
100              973              NaN
101              974              NaN
102              976              NaN
103               99              NaN

[104 rows x 2 columns]

In [ ]:
sortie = './donnees/culture.csv'
result_merged.to_csv(sortie, index=False)