In [7]:
import pandas as pd

In [8]:
df = pd.read_excel('data/Entreprise.xlsx', skiprows=3)
df = df.rename(columns={'Unnamed: 0': 'Code', 'Unnamed: 1': 'Département'})
df.head()

,Code,Département,Nombre de créations d'entreprises,Part de l'industrie (en %),Part de la construction (en %),"Part du commerce de gros & détail, transports, hébergemnt & restauration (en %)","Part de l’admin. pub., enseign., santé & act. soc. (en %)",Part des autres services (en %)
0,01,Ain,8417.0,7.3,11.6,22.6,9.5,49.0
1,02,Aisne,4422.0,10.2,8.9,30.0,9.5,41.4
2,03,Allier,3355.0,10.7,10.0,28.5,9.6,41.3
3,04,Alpes-de-Haute-Provence,2629.0,7.6,12.4,27.9,9.6,42.5
4,05,Hautes-Alpes,2484.0,7.1,10.5,22.5,14.4,45.5

In [9]:
df_mean = df[['Département', 'Nombre de créations d\'entreprises']]
df_mean = df_mean[:96]
df_mean.isetitem(1, df_mean.iloc[:, 1].astype(int))
df_mean

                Département  Nombre de créations d'entreprises
0                       Ain                               8417
1                     Aisne                               4422
2                    Allier                               3355
3   Alpes-de-Haute-Provence                               2629
4              Hautes-Alpes                               2484
..                      ...                                ...
91                  Essonne                              23093
92           Hauts-de-Seine                              36273
93        Seine-Saint-Denis                              38726
94             Val-de-Marne                              28800
95               Val-d'Oise                              23846

[96 rows x 2 columns]

In [12]:
df_mean.to_csv('data/entreprise_cleaned.csv', index=False, sep=';')