In [73]:
import pandas as pd

In [74]:
df = pd.read_csv('https://www.data.gouv.fr/fr/datasets/r/acc332f6-92be-42af-9721-f3609bea8cfc',  sep= ';')

In [75]:
df.head()

,classe,annee,Code.département,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
0,Homicides,16,01,84.0,victime,16.0,16.0,5,638425.0,"308491,1600513844","7,83177350511023e-03"
1,Homicides,16,02,32.0,victime,16.0,16.0,10,536136.0,"264180,0836046834","1,86519838249996e-02"
2,Homicides,16,03,84.0,victime,16.0,16.0,4,339384.0,"206980,3726684623","1,17860594488839e-02"
3,Homicides,16,04,93.0,victime,16.0,16.0,2,162565.0,"126760,4042559317","1,23027711992126e-02"
4,Homicides,16,05,93.0,victime,16.0,16.0,0,141107.0,"134646,6209596995","0,00000000000000e+00"

In [76]:
df.shape

(13056, 11)

In [77]:
df.columns

Index(['classe', 'annee', 'Code.département', 'Code.région', 'unité.de.compte',
       'millPOP', 'millLOG', 'faits', 'POP', 'LOG', 'tauxpourmille'],
      dtype='object')

In [78]:
print(df.dtypes)

classe               object
annee                 int64
Code.département     object
Code.région         float64
unité.de.compte      object
millPOP             float64
millLOG             float64
faits                 int64
POP                 float64
LOG                  object
tauxpourmille        object
dtype: object

In [79]:
df['tauxpourmille'] = df['tauxpourmille'].str.replace(',', '.')
df['LOG'] = df['LOG'].str.replace(',', '.')

In [80]:
df['tauxpourmille'] = df['tauxpourmille'].astype(float)
df['LOG'] = df['LOG'].astype(float)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13056 entries, 0 to 13055
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   classe            13056 non-null  object
 1   annee             13056 non-null  int64
 2   Code.département  12928 non-null  object
 3   Code.région       12928 non-null  float64
 4   unité.de.compte   13056 non-null  object
 5   millPOP           12928 non-null  float64
 6   millLOG           12928 non-null  float64
 7   faits             13056 non-null  int64
 8   POP               12928 non-null  float64
 9   LOG               12928 non-null  float64
 10  tauxpourmille     12928 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 1.1+ MB

In [82]:
#detecting missing values 

missing_count = df.isnull().sum()
missing_count

classe                0
annee                 0
Code.département    128
Code.région         128
unité.de.compte       0
millPOP             128
millLOG             128
faits                 0
POP                 128
LOG                 128
tauxpourmille       128
dtype: int64

In [83]:
# Afficher les lignes avec des valeurs nulles ou manquantes
null_values = df[df.isnull().any(axis=1)]
display(null_values)

,classe,annee,Code.département,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
101,Homicides,16,NaN,NaN,victime,NaN,NaN,0,NaN,NaN,NaN
203,Homicides,17,NaN,NaN,victime,NaN,NaN,0,NaN,NaN,NaN
305,Homicides,18,NaN,NaN,victime,NaN,NaN,0,NaN,NaN,NaN
407,Homicides,19,NaN,NaN,victime,NaN,NaN,0,NaN,NaN,NaN
509,Homicides,20,NaN,NaN,victime,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12647,Usage de stupéfiants,19,NaN,NaN,Mis en cause,NaN,NaN,0,NaN,NaN,NaN
12749,Usage de stupéfiants,20,NaN,NaN,Mis en cause,NaN,NaN,0,NaN,NaN,NaN
12851,Usage de stupéfiants,21,NaN,NaN,Mis en cause,NaN,NaN,0,NaN,NaN,NaN
12953,Usage de stupéfiants,22,NaN,NaN,Mis en cause,NaN,NaN,0,NaN,NaN,NaN
13055,Usage de stupéfiants,23,NaN,NaN,Mis en cause,NaN,NaN,0,NaN,NaN,NaN

In [84]:
# Supprimer les lignes avec des valeurs nulles ou manquantes
df = df.dropna()

# Vérifier que les valeurs nulles ou manquantes ont été supprimées
print(df.isnull().sum())

classe              0
annee               0
Code.département    0
Code.région         0
unité.de.compte     0
millPOP             0
millLOG             0
faits               0
POP                 0
LOG                 0
tauxpourmille       0
dtype: int64

In [85]:
# Convertir les valeurs de la colonne 'Code.région' en type entier 
df['Code.région'] = df['Code.région'].astype(int)

# Afficher les premières lignes pour vérifier la transformation
df.head()

,classe,annee,Code.département,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
0,Homicides,16,01,84,victime,16.0,16.0,5,638425.0,308491.160051,0.007832
1,Homicides,16,02,32,victime,16.0,16.0,10,536136.0,264180.083605,0.018652
2,Homicides,16,03,84,victime,16.0,16.0,4,339384.0,206980.372668,0.011786
3,Homicides,16,04,93,victime,16.0,16.0,2,162565.0,126760.404256,0.012303
4,Homicides,16,05,93,victime,16.0,16.0,0,141107.0,134646.620960,0.000000

In [86]:
# Ajouter les deux chiffres manquants pour obtenir une chaîne de quatre chiffres (année)
df['annee'] = '20' + df['annee'].astype(str)

df.head()

,classe,annee,Code.département,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
0,Homicides,2016,01,84,victime,16.0,16.0,5,638425.0,308491.160051,0.007832
1,Homicides,2016,02,32,victime,16.0,16.0,10,536136.0,264180.083605,0.018652
2,Homicides,2016,03,84,victime,16.0,16.0,4,339384.0,206980.372668,0.011786
3,Homicides,2016,04,93,victime,16.0,16.0,2,162565.0,126760.404256,0.012303
4,Homicides,2016,05,93,victime,16.0,16.0,0,141107.0,134646.620960,0.000000

In [87]:
# Trier les données par le code département
df_sorted = df.sort_values(by='Code.département')

# Afficher les données triées
display(df_sorted)

,classe,annee,Code.département,Code.région,unité.de.compte,millPOP,millLOG,faits,POP,LOG,tauxpourmille
0,Homicides,2016,01,84,victime,16.0,16.0,5,638425.0,308491.160051,0.007832
1428,Coups et blessures volontaires,2022,01,84,victime,21.0,20.0,2294,663202.0,325430.939189,3.458976
10506,Destructions et dégradations volontaires,2023,01,84,infraction,21.0,20.0,4120,663202.0,325430.939189,6.212285
10404,Destructions et dégradations volontaires,2022,01,84,infraction,21.0,20.0,4122,663202.0,325430.939189,6.215301
1530,Coups et blessures volontaires,2023,01,84,victime,21.0,20.0,2488,663202.0,325430.939189,3.751497
...,...,...,...,...,...,...,...,...,...,...,...
9178,Vols d'accessoires sur véhicules,2017,976,6,véhicule,17.0,17.0,91,256518.0,73880.000000,0.354751
9280,Vols d'accessoires sur véhicules,2018,976,6,véhicule,17.0,17.0,99,256518.0,73880.000000,0.385938
9382,Vols d'accessoires sur véhicules,2019,976,6,véhicule,17.0,17.0,105,256518.0,73880.000000,0.409328
8056,Vols de véhicules,2022,976,6,véhicule,17.0,17.0,387,256518.0,73880.000000,1.508666
13054,Usage de stupéfiants,2023,976,6,Mis en cause,17.0,17.0,221,256518.0,73880.000000,0.861538

In [88]:

df_sorted['annee'] = df_sorted['annee'].astype(int)


df_filtered = df_sorted.query('annee == 2022')

In [89]:
# Regrouper par code département et effectuer la somme des colonnes nécessaires
group_df = df_filtered.groupby(['Code.département', 'Code.région']).agg({
    'faits': 'sum',
    'tauxpourmille': 'sum'
}).reset_index()

# Sélectionner uniquement les colonnes requises
group_df = group_df[['Code.département', 'faits', 'tauxpourmille']]

# Afficher le DataFrame résultant
group_df = group_df.rename(columns={'Code.département': 'code_departement'})
group_df

    code_departement  faits  tauxpourmille
0                 01  24042      40.019948
1                 02  22815      46.353383
2                 03  12755      39.525169
3                 04   7983      48.883914
4                 05   6136      43.559041
..               ...    ...            ...
96               971  21520      57.679445
97               972  17102      48.697300
98               973  16595      64.998986
99               974  30096      35.819339
100              976  10938      46.957704

[101 rows x 3 columns]

In [90]:
sortie = './donnees/security.csv'
group_df.to_csv(sortie, index=False)