In [5]:
import pandas as pd

In [6]:
pop = pd.read_excel('./donnees_brutes/Populations.xlsx')
dep = pd.read_csv('./donnees_brutes/departements-france.csv')

In [7]:
merged_df = pd.merge(pop, dep, on='code_departement', how='inner')
merged_df

,code_departement,Total,nom_departement,code_region,nom_region
0,01,671937.0,Ain,84,Auvergne-Rhône-Alpes
1,02,522791.0,Aisne,32,Hauts-de-France
2,03,332443.0,Allier,84,Auvergne-Rhône-Alpes
3,04,166654.0,Alpes-de-Haute-Provence,93,Provence-Alpes-Côte d'Azur
4,05,139942.0,Hautes-Alpes,93,Provence-Alpes-Côte d'Azur
...,...,...,...,...,...
91,91,1316053.0,Essonne,11,Île-de-France
92,92,1642002.0,Hauts-de-Seine,11,Île-de-France
93,93,1682806.0,Seine-Saint-Denis,11,Île-de-France
94,94,1426748.0,Val-de-Marne,11,Île-de-France
95,95,1274374.0,Val-d'Oise,11,Île-de-France

In [10]:
merged_df = merged_df[['code_departement', 'nom_departement', 'Total']]

In [13]:
merged_df = merged_df.rename(columns={'Total': 'total_population'})

In [14]:
sortie = './donnees/tables_des_faits.csv'
merged_df.to_csv(sortie, index=False)